{% extends 'base.html' %}
{% block conteudo %}
<h1>Novo Cliente</h1>
<div class="row">
    <div class="col-lg-6">
        <form action="/primeira/cliente/create/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Nome:</label>
                {{form.nome}}
                {{form.nome.errors}}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">dt_nasc:</label>
                {{form.dt_nasc}}
                {{form.dt_nasc.errors}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">CPF:</label>
                {{form.cpf}}
                {{form.cpf.errors}}
            </div>     
            <div class="form-group">
                <label for="exampleInputEmail1">sexo:</label>
                {{form.sexo}}
                {{form.sexo.errors}}
            </div>       

            <button type="submit" class="btn btn-primary">OK</button>
        </form>
    </div>
</div>
{% endblock %}