{% extends 'base.html' %}
{% block conteudo %}
<h1>Novo Carrinho</h1>
<div class="row">
    <div class="col-lg-6">
        <form action="/primeira/carrinho/create/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">cor:</label>
                {{form.cor}}
                {{form.cor.errors}}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tamanho:</label>
                {{form.tamanho}}
                {{form.tamanho.errors}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">setor:</label>
                {{form.setor}}
                {{form.setor.errors}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Cliente:</label>
                {{form.cliente}}
                {{form.cliente.errors}}
            </div>         

            <button type="submit" class="btn btn-primary">OK</button>
        </form>
    </div>
</div>
{% endblock %}